<p id="articletitle"><%= @posts.title %></p>
<div id="author">
  <img class="img-circle" id="authorpic" src="image/thumbnail.jpg">
  <p id="author1"><%= @posts.author %> </p>
  <p id="author1">on</p>
  <u id="author1"><%= @posts.created_at %></u>
</div>
<p id="articlebody"><%= @posts.body %></p>
